body, h1, h2, h3, h4, h5, h6, form, input {
  color: #333;
}
input {
  border: 1px solid #d0d0d0;
  outline: none
}
button:hover {
  cursor: pointer;
}
.hide {
  display: none;
}
.blue {
  background-color: cornflowerblue;
}
.green {
  background-color: limegreen;
}
.yellow {
  background-color: gold;
}
.red {
  background-color: crimson;
  color: #ffffff;
}

.form {
  padding-left: 20px;
}
.form-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.form-item .label {
  width: 200px;
}
.form-item .input {
  width: 200px;
}
.btn-groups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-groups > button {
  box-sizing: border-box;
  border: none;
  border-radius: 6px;;
  padding: 0;
  width: 90px;
  height: 30px;
  line-height: 26px;
}
.btn-groups > button:not(:last-child) {
  margin-right: 20px;
}
